{% extends 'base.html.twig' %}
 <title>{% block title %}test index{% endblock %}</title>
{% block body %}
    <a href="{{ path('security_login')}}"> Connexion</a><br>
    <a href="{{ path('user_registration')}}"> Inscription</a>
        
{% endblock %}

